# Python Basics

### Pointes we are covering for today

1. Data Types 
2. Operators 
3. Decision Making
4. Loops
5. functions 
6. Object Oriented Programing (OOPS)

## Basic I/O

In [1]:
print('Hello World')

Hello World

In [4]:
name = input("Enter Your name : ")
print(name)

Enter Your name : 56
56

### Defining a variable

In [8]:
age = 19
adult = True
gender = "Male"
print("Name: " + "Rushit", "Age :",age, "Gender :",gender)
print(f"Age : {age}")

Name: Rushit Age : 19 Gender : Male
Age : 19

## DATA Types

### There are mainly 5 data types in Python

1. Numbers
2. Boolean 
3. Dictonary
4. Set
5. Sequence

## 1. Numbers

In [9]:
a = 10
b = 10.2
c = 3j + 5
print(a,b,c)
print(type(a), type(b), type(c))

10 10.2 (5+3j)
<class 'int'> <class 'float'> <class 'complex'>

In [3]:
a = float(a)
print(type(a))

<class 'float'>

## 2. Boolean

In [10]:
a= True
b = False
print(type(a),type(b))

<class 'bool'> <class 'bool'>

## 3. Sequence Data Type

1. List
2. Strings
3. touple

### 1. Strings

In [11]:
a = 'IEEE'
b = 'Comsoc'
print(type(a), type(b))

<class 'str'> <class 'str'>

In [12]:
a = 10 
b = str(a)
print(type(a),type(b))

<class 'int'> <class 'str'>

### 2. List

In [13]:
list1 = [1,2,True,"Name",5.9009,5j + 3, None, [3,1.5,1], {'Name':"Rushit", "age" : 19}, (13,15,True)]
print(list1)
print(type(list1))

[1, 2, True, 'Name', 5.9009, (3+5j), None, [3, 1.5, 1], {'Name': 'Rushit', 'age': 19}, (13, 15, True)]
<class 'list'>

### 3. Tuple

In [14]:
touple1 = (1,2,True,"Name",5.9009,5j + 3, None, [3,1.5,1], {'Name':"Rushit", "age" : 19}, (13,15,True))
print(touple1)
print(type(touple1))

(1, 2, True, 'Name', 5.9009, (3+5j), None, [3, 1.5, 1], {'Name': 'Rushit', 'age': 19}, (13, 15, True))
<class 'tuple'>

## Operators

1. Arithmetic Operators
2. Relational operators
3. Assignment Operators
4. Logical Operators
5. Bitwise Operators
6. Membership Operators
7. Identity Operators

### 1. Arithmetic Operators

1. Addition +
2. Subtraction -
3. Multiplication *
4. Division /
5. Modulus %
6. Floor Division //
7. Power **

In [20]:
a = 21
b = 10

str1 = "IEEE"
str2 = "COMSOC"

list1 = [1,2,3]
list2 = [4,5,6]

toup1 = (1,2,3)
toup2 = (4,5,6)

# Addition
print ("a + b : ", a + b)
print("str1 + str2", str1 + " " + str2)
print("list1 + list2", list1 + list2)
print("toup1 + toup2", toup1 + toup2)

# Subtraction
print ("a - b : ", a - b)

# Multiplication
print ("a * b : ", a * b)

# Division
print ("a / b : ", a / b)

# Modulus
print ("a % b : ", a % b)

# Exponent
print ("a ** b : ", a ** b)

# Floor Division
print ("a // b : ", a // b)

a + b :  31
str1 + str2 IEEE COMSOC
list1 + list2 [1, 2, 3, 4, 5, 6]
toup1 + toup2 (1, 2, 3, 4, 5, 6)
a - b :  11
a * b :  210
a / b :  2.1
a % b :  1
a ** b :  16679880978201
a // b :  2

### Relational Operators

1. Eqals to ==
2. Not Equals to !=
3. Grater than >
4. less than <
5. Grather than eqaul to >=
6. Less than eqal to <=

In [22]:
a = 4
b = 5

# Equal
print ("a == b : ", a == b)

# Not Equal
print ("a != b : ", a != b)

# Greater Than
print ("a > b : ", a > b)

# Less Than
print ("a < b : ", a < b)

# Greater Than or Equal to
print ("a >= b : ", a >= b)

# Less Than or Equal to
print ("a <= b : ", a <= b)

a == b :  False
a != b :  True
a > b :  False
a < b :  True
a >= b :  False
a <= b :  True

### Assignment Operators

1. Assignment Operator =
2. Addition Assignment +=
3. Subtraction Assignment -=	
4. Multiplication Assignment *=	
5. Division Assignment /=	
6. Remainder Assignment %=	
7. Exponent Assignment **=	
8. Floor Division Assignment //=

In [23]:
# Assignment Operator
a = 10

# Addition Assignment
a += 5
print ("a += 5 : ", a)

# Subtraction Assignment
a -= 5
print ("a -= 5 : ", a)

# Multiplication Assignment
a *= 5
print ("a *= 5 : ", a)

# Division Assignment
a /= 5
print ("a /= 5 : ",a)

# Remainder Assignment
a %= 3
print ("a %= 3 : ", a)

# Exponent Assignment
a **= 2
print ("a **= 2 : ", a)

# Floor Division Assignment
a //= 3
print ("a //= 3 : ", a)

a += 5 :  15
a -= 5 :  10
a *= 5 :  50
a /= 5 :  10.0
a %= 3 :  1.0
a **= 2 :  1.0
a //= 3 :  0.0

### Bitwise Operators

1. Binary AND &
2. Binary OR |
3. Binary XOR ^
4. Binary Ones Complement ~
5. Binary Left Shift <<
6. Binary Right Shift >>

In [25]:
a = 60            # 60 = 0011 1100
b = 13            # 13 = 0000 1101

# Binary AND
c = a & b        # 12 = 0000 1100
print ("a & b : ", c)

# Binary OR
c = a | b        # 61 = 0011 1101
print ("a | b : ", c)

# Binary XOR
c = a ^ b        # 49 = 0011 0001
print ("a ^ b : ", c)

# Binary Ones Complement
c = ~a;           # -61 = 1100 0011
print ("~a : ", c)

# Binary Left Shift
c = a << 2;       # 240 = 1111 0000
print ("a << 2 : ", c)

# Binary Right Shift
c = a >> 2;       # 15 = 0000 1111
print ("a >> 2 : ", c)

a & b :  12
a | b :  61
a ^ b :  49
~a :  -61
a << 2 :  240
a >> 2 :  15

### Logical Operator

#### (We'll cover it with if-else)

### Membership Operators

1. in
2. not in

In [27]:
list1 = [1,3,4,5,6]
print(1 in list1)
print(2 in list1)
print(1 not in list1)
print(2 not in list1)

True
False
False
True

In [28]:
a =20
b =20
print(a is b)

True

In [30]:
print(id(a))
print(id(b))

4363240272
4363240272

## Decision Making

1. if
2. else if(elif)
3. nested if

In [32]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [33]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal